@model QLBENHNHAN.Models.Validations.EmailTemplateViewModel

<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Xác nhận đăng ký tài khoản</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            line-height: 1.6;
            background-color: #f4f4f4;
            margin: 0;
            padding: 20px;
            font-size: 1.2rem;
        }

        .container {
            max-width: 600px;
            margin: auto;
            background: #fff;
            padding: 20px;
            border-radius: 8px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        }

        h2 {
            text-align: center;
            background-color: #1cc88a;
            color: #fff;
            padding: 10px;
            border-radius: 5px;
        }

        p {
            margin-bottom: 10px;
        }

        a {
            color: white !important;
            text-decoration: none;
            background-color: #007bff;
            padding: 14px 20px;
            margin-top: 10px;
            margin-bottom: 10px;
            border-radius: 8px;
        }

            a:hover {
                opacity: 0.9;
                cursor: pointer;
            }
        .btn-active {
            margin: 30px 0px;
        }
    </style>
</head>
<body>
    <div class="container">
        <h2>XÁC NHẬN ĐĂNG KÝ TÀI KHOẢN</h2>
        <p>Xin chào, @Model.Username</p>
        <p>Cảm ơn bạn đã đăng ký tài khoản. Để hoàn tất quá trình đăng ký, vui lòng nhấp vào liên kết dưới đây:</p>
        <p class="btn-active"><a href="@Model.VerificationLink">Xác thực tài khoản</a></p>
        <p>Nếu bạn không thực hiện hành động này, bạn có thể bỏ qua email này.</p>
        <p>Trân trọng,</p>
        <p>Đội ngũ hỗ trợ của chúng tôi VLU Heart</p>
    </div>
</body>
</html>