@{
    ViewBag.Title = "Trang quên mật khẩu";
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewBag.Title</title>
    <link rel="stylesheet" href="~/Content/bootstrap.min.css" />
    <link rel="stylesheet" href="~/Content/Site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/Content/font/fontawesome-free-6.5.2-web/css/all.min.css" asp-append-version="true" />
    @* font *@
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&display=swap" rel="stylesheet">

    <script src="~/Scripts/bootstrap.bundle.min.js"></script>
</head>
<body>
    @using (Html.BeginForm("ForgotPassword", "Home", FormMethod.Post))
    {
        <section class="vh-100">
            <a type="button" href="/home" class="btn-close position-absolute" style="top: 10px; right: 20px;" aria-label="Close"></a>
            <div class="container-fluid h-custom">
                <div class="row d-flex justify-content-center align-items-center h-100">
                    <div class="col-sm">
                    </div>
                    <div class="card text-center border rounded col-sm">
                        <div style="margin: 0 -12px">
                            <h5 class="card-header text-white bg-primary">Quên mật khẩu</h5>
                        </div>
                        <div class="card-body px-5">
                            <p class="card-text py-2">
                                Nhập địa chỉ email của bạn và chúng tôi sẽ gửi cho bạn một email đính kèm theo hướng dẫn để đặt lại mật khẩu của bạn.
                            </p>
                            <div data-mdb-input-init class="form-outline">
                                <input required name="email" type="email" id="typeEmail" class="form-control my-3" placeholder="Nhập email" />
                            </div>
                            <button type="submit" class="btn btn-primary w-100">Đặt lại mật khẩu</button>
                            <div class="d-flex justify-content-between mt-4">
                                <a class="text-decoration-none" href="/home/login">Đăng nhập</a>
                                <a class="text-decoration-none" href="/home/register">Đăng ký</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm">
                    </div>
                </div>
            </div>
        </section>
    }
    <script>
        document.addEventListener('DOMContentLoaded', function () {
            var toastElList = [].slice.call(document.querySelectorAll('.toast'))
            var toastList = toastElList.map(function (toastEl) {
                return new bootstrap.Toast(toastEl)
            });
            toastList.forEach(toast => toast.show());
        });

        $(document).ready(function () {
            $('input[type="text"]').blur(function () {
                // Loại bỏ khoảng trắng trước và sau khi người dùng nhập dữ liệu
                $(this).val($.trim($(this).val()));
            });
        });
    </script
</body>
</html>