@model QLBENHNHAN.Models.Validations.EmailTemplateViewModel

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Xác thực yêu cầu đặt lại mặt khẩu</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            line-height: 1.6;
            background-color: #f4f4f4;
            margin: 0;
            padding: 20px;
            font-size: 1.2rem;
        }

        .container {
            max-width: 600px;
            margin: auto;
            background: #fff;
            padding: 20px;
            border-radius: 8px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        }

        h2 {
            text-align: center;
            background-color: #1cc88a;
            color: #fff;
            padding: 10px;
            border-radius: 5px;
        }

        p {
            margin-bottom: 10px;
        }

        a {
            color: white !important;
            text-decoration: none;
            background-color: #007bff;
            padding: 14px 20px;
            margin-top: 10px;
            margin-bottom: 10px;
            border-radius: 8px;
        }

            a:hover {
                opacity: 0.9;
                cursor: pointer;
            }

        .btn-active {
            margin: 30px 0px;
        }
    </style>
</head>
<body>
    <div class="container">
        <h2>YÊU CẦU ĐẶT LẠI MẬT KHẨU</h2>
        <p>Gửi @Model.Username,</p>
        <p>Vui lòng nhấp vào liên kết sau để đặt lại mật khẩu của bạn:</p>
        <p class="btn-active"><a href="@Model.VerificationLink">Đặt lại mật khẩu</a></p>
        <p>Nếu bạn không yêu cầu đặt lại mật khẩu, vui lòng bỏ qua email này.</p>
        <p>Cảm ơn,</p>
        <p>Đội ngũ hỗ trợ của chúng tôi VLU Heart.</p>
    </div>
</body>
</html>
