@model QLBENHNHAN.Models.TAIKHOAN

@{
    Layout = null;
    ViewBag.Title = "Đặt lại mật khẩu";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewBag.Title</title>
    <link rel="stylesheet" href="~/Content/bootstrap.min.css" />
    <link rel="stylesheet" href="~/Content/Site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/Content/font/fontawesome-free-6.5.2-web/css/all.min.css" asp-append-version="true" />

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&display=swap" rel="stylesheet">

    <script src="~/Scripts/jquery-3.7.1.min.js"></script>

    <!-- Thư viện PopperJS (cần thiết cho dropdown, tooltip, và popovers của Bootstrap) -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/2.10.2/umd/popper.min.js"></script>

    <!-- Bootstrap JavaScript -->
    <script src="~/Scripts/bootstrap.min.js"></script>

</head>
<body>
    @using (Html.BeginForm("ResetPassword", "Home", FormMethod.Post))
    {
        @Html.HiddenFor(model => model.EMAIL)
        @Html.HiddenFor(model => model.MACODE)
        <section class="vh-100">
            <a type="button" href="/home" class="btn-close position-absolute" style="top: 10px; right: 20px;" aria-label="Close"></a>
            <div class="container-fluid h-custom">
                <div class="row d-flex justify-content-center align-items-center h-100">
                    <div class="col-sm">
                    </div>
                    <div class="card text-center border rounded col-sm">
                        <div style="margin: 0 -12px">
                            <h5 class="card-header text-white bg-primary">Đặt lại mật khẩu</h5>
                        </div>
                        <div class="card-body px-5">
                            <p class="card-text py-2">
                                Vui lòng nhập lại mật khẩu mới!!
                            </p>
                            <div class="form-group">
                                <input type="password" class="form-control" id="password" name="PASSWORD" required placeholder="Mật khẩu mới" />
                            </div>
                            <div class="mt-4">
                                <button type="submit" class="btn btn-primary">Lưu mật khẩu</button>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm">
                    </div>
                </div>
            </div>
        </section>
    }
    <script>
        $(document).ready(function () {
            $('input[type="text"]').blur(function () {
                // Loại bỏ khoảng trắng trước và sau khi người dùng nhập dữ liệu
                $(this).val($.trim($(this).val()));
            });
        });

    </script>
</body>
</html>