@{
    ViewBag.Title = "Chờ đặt lại mật khẩu";
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewBag.Title</title>
    <link rel="stylesheet" href="~/Content/bootstrap.min.css" />
    <link rel="stylesheet" href="~/Content/Site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/Content/font/fontawesome-free-6.5.2-web/css/all.min.css" asp-append-version="true" />
    <!-- Font -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&display=swap" rel="stylesheet">
</head>
<body>
    <section class="vh-100">
        <a type="button" href="/home" class="btn-close position-absolute" style="top: 10px; right: 20px;" aria-label="Close"></a>
        <div class="container-fluid h-custom">
            <div class="row d-flex justify-content-center align-items-center h-100">
                <div class="col-sm">
                </div>
                <div class="card text-center border rounded col-sm">
                    <div style="margin: 0 -12px">
                        <h5 class="card-header text-white bg-primary">Chờ đặt lại mật khẩu</h5>
                    </div>
                    <div class="card-body px-5">
                        <p class="card-text py-2">
                            Chúng tôi đã gửi một email đặt lại mật khẩu đến địa chỉ email của bạn. Vui lòng kiểm tra hòm thư và làm theo hướng dẫn để tiếp tục.
                        </p>
                        <div class="mt-4">
                            <a class="btn btn-primary" href="/home/login">Đăng nhập</a>
                            <a class="btn btn-secondary" href="/home/register">Đăng ký</a>
                        </div>
                    </div>
                </div>
                <div class="col-sm">
                </div>
            </div>
        </div>
    </section>
</body>
</html>

